.game {
	width: 600px;
	margin: 0 auto;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.die {
	margin-right: 10px;
	display: inline;
}

.die.die-locked {
	filter: drop-shadow(0 0 3px blue);
}

.die.die-can-lock {
	cursor: pointer;
}

.score-row td,
.score-row th {
	font-size: 25px;
	color: gray;
}

.score-row.score-can-pick {
	cursor: pointer;
}

.score-row.score-can-pick:hover td,
.score-row.score-can-pick:hover th,
.score-row.score-final td,
.score-row.score-final th,
.score-row.score-total td,
.score-row.score-total th {
	color: black;
}

.score-row.score-total td,
.score-row.score-total th {
	padding-bottom: 20px;
}

.score-label {
	text-align: right;
}

.score-row.score-final .score-label {
	text-decoration: line-through;
}

.score-score {
	padding-left: 20px;
}
