.game {
	width: 600px;
	margin: 0 auto;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.die {
	margin-right: 10px;
}

.die.die-locked {
	border: 5px solid blue;
}

.die.die-can-lock {
	cursor: pointer;
}

.score-row td,
.score-row th {
	font-size: 25px;
}

.score-row.score-can-pick {
	cursor: pointer;
}

.score-row.score-can-pick:hover .score-score,
.score-row.score-final .score-score {
	color: black;
}

.score-label {
	text-align: right;
}

.score-row.score-final .score-label {
	text-decoration: line-through;
}

.score-score {
	padding-left: 20px;
	color: gray;
}
